@import url("https://fonts.googleapis.com/css2?family=League+Gothic&display=swap");
@import "../../../assets/variables.scss";

.header {
  display: grid;
  padding: $spacing-lg calc($spacing-lg * 1.6);
  grid-template-columns: min-content 1fr min-content;
  align-items: center;
  gap: 50px;

  .header-left {
    display: grid;
    grid-template-columns: 28px 1fr;
    align-items: center;
    justify-content: center;
    gap: 18px;

    .header-menu-btn {
      font-size: $f-24;
    }

    .header-logo {
      font-family: "League Gothic", sans-serif;
      display: grid;
      align-items: center;
      justify-content: center;
      gap: 3px;
      grid-template-columns: 35px 1fr;
      user-select: none;

      svg {
        font-size: 36px;
        color: $red;
      }

      span {
        font-size: 28px;
      }
    }
  }

  .header-search {
    width: fit-content;
    height: 36px;
    width: 100%;
    max-width: 550px;
    border: 2px solid $grey-two;
    border-radius: 30px;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 50px;
    padding-left: $spacing-lg;
    justify-self: center;

    input {
      height: 100%;
      width: 100%;
      box-sizing: border-box;
      border: none;
      font-size: $f-18;

      &:focus {
        outline: none;
      }
    }

    button {
      height: 100%;
      box-sizing: border-box;
      border: none;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      svg {
        font-size: $f-24;
      }
    }
  }

  .header-right {
    display: grid;
    align-items: center;

    .header-signin {
      height: 38px;
      border: 2px solid $grey-two;
      border-radius: 36px;
      display: grid;
      grid-template-columns: 30px 1fr;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      text-decoration: none;
      color: $blue;
      padding: $spacing-sm $spacing-md;
      box-sizing: border-box;

      svg {
        font-size: 28px;
      }

      span {
        width: 50px;
        height: fit-content;
      }
    }

    .header-user {
      display: grid;
      align-items: center;

      img {
        height: 36px;
        border-radius: 50%;
      }
    }
  }
}
