// COLORS
$white: #fff;
$black: #000;
$red: #fe0000;
$green: #67bd7f;
$blue: #438efc;
$grey: #f2f2f2;
$grey-two: #cccccc;

// FONT SIZES
$f-32: 32px;
$f-30: 30px;
$f-24: 24px;
$f-20: 20px;
$f-18: 18px;
$f-16: 16px;
$f-14: 14px;
$f-12: 12px;
$f-10: 10px;

// SPACING
$spacing-xs: 2px;
$spacing-sm: 4px;
$spacing-md: 8px;
$spacing-lg: 16px;
$spacing-xl: 32px;
